/* latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: local('Orbitron Regular'), local('Orbitron-Regular'), url(../fonts/orbitron-regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    font-display: swap;
}
/* latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 500;
    src: local('Orbitron Medium'), local('Orbitron-Medium'), url(../fonts/orbitron-medium.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    font-display: swap;
}
/* latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src: local('Orbitron Bold'), local('Orbitron-Bold'), url(../fonts/orbitron-bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    font-display: swap;
}

@font-face {
	font-family: 'HP-Slant';
	font-style: normal;
	src: url('../fonts/HP-Slant.woff2') format('woff2'), url('../fonts/HP-Slant.woff') format('woff'), url('../fonts/HP-Slant.ttf') format('truetype');
    font-display: swap;
}

.thin       { font-weight: 100 }
.extralight { font-weight: 200 }
.light      { font-weight: 300 }
.medium     { font-weight: 500 }
.bold       { font-weight: 700 }
.extrabold  { font-weight: 800 }
.heavy      { font-weight: 900 }
.italic     { font-style: italic }
.oblique    { font-style: oblique }
.slab { font-family: "Iosevka Web", monospace }
