@import url("fonts.css");
html {
  font-size: 1em;
}
body {
  -webkit-font-feature-settings: "locl";
  font-feature-settings: "locl";
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "IosevkaWEB", monospace;
}
p {
  margin: 1rem 0;
}
a {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, #888888));
  background-image: linear-gradient(white 50%, #888888 50%);
  background-position: 0 1.075em;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: black;
  text-decoration: none;
  text-shadow: white -1px 0 0, white 1px 0 0;
}
a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, black));
  background-image: linear-gradient(white 50%, black 50%);
}
pre,
code {
  font-family: inherit;
}
section {
  margin: 0 auto;
  max-width: 40rem;
  padding: 4rem 1rem;
}
section + section:before {
  background: #eeeeee;
  content: " ";
  display: block;
  height: 1px;
  left: 0;
  right: 0;
  margin-top: -4rem;
  position: absolute;
}
section#descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
section#descriptions h2 {
  font-weight: bold !important;
  margin: 3rem 0 0.5rem;
}
section#descriptions h2 + p {
  margin-top: 0.5rem;
}
section#descriptions ul.col {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(49%);
}
section#descriptions ul.col > li:first-child h2 {
  margin-top: 0;
}
section#tool-downloads h2 {
  font-size: 1.7rem;
  font-weight: 200;
  margin-bottom: 3rem;
  margin-top: 0;
  text-align: center;
}
@media screen and (min-width: 700px) {
  section#tool-downloads h2:before,
  section#tool-downloads h2:after {
    border-bottom: 1px solid #dddddd;
    content: "";
    display: inline-block;
    margin: 0 0.2em;
    vertical-align: 0.3em;
    width: 1em;
  }
}
section#tool-downloads h3 {
  font-size: 1em;
  font-weight: normal;
  margin-top: 8rem;
  text-align: center;
}
section#tool-downloads h3:before,
section#tool-downloads h3:after {
  border-bottom: 1px solid #dddddd;
  content: "";
  display: inline-block;
  margin: 0 0.2em;
  vertical-align: 0.3em;
  width: 1em;
}
section#tool-downloads li a.link {
  font-weight: bold;
}
section#tool-downloads .all-releases-w {
  text-align: center;
}
section#tool-downloads .all-releases-w li {
  padding: 0.5em 0;
  text-align: left;
}
section#tool-downloads .all-releases-w li icon {
  vertical-align: -0.1em;
}
section#tool-downloads #all-releases_ct,
section#tool-downloads #all-releases_ati,
section#tool-downloads #all-releases_rp {
  display: inline-block;
  list-style: none;
  margin: 0;
  max-width: 30rem;
  padding: 0;
}
#downlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#downlinks a {
  background: black;
  color: white;
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  line-height: 1em;
  margin: 0.5em;
  padding: 0.5em 0.5em 0.5em 3em;
  position: relative;
  text-align: left;
  text-shadow: none;
  width: 10em;
}
#downlinks a:hover {
  background: #333333;
}
#downlinks a.wide {
  width: 12em;
}
#downlinks a.narrow {
  width: 4em;
}
#downlinks a icon {
  display: block;
  font-size: 1.5em;
  left: 0.5em;
  margin-top: -0.5em;
  position: absolute;
  top: 50%;
}
#downlinks a span {
  display: block;
  font-size: 60%;
}
@media screen and (max-width: 768px) {
  #downlinks {
    display: block;
  }
  #downlinks a {
    margin: 0.5em auto !important;
  }
  section#tool-downloads h2 {
    font-size: 1.7rem !important;
  }
  section#tool-downloads h3 {
    font-size: 0.9rem !important;
  }
  .all-releases-w li {
    font-size: 0.8em !important;
  }
}
#copyright-line {
  font-size: 0.8rem;
  margin-bottom: 1em;
  opacity: 0.4;
  text-align: center;
}
