---
layout: default
description: "何を探すんの？ここは何もいないよ"
header-img: "img/404-bg.jpg"
permalink: /404.html
---


<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    {%if site.particle404 %}
    <div class="CanvasContainer" id="container">
        <!-- canvas from http://hotdot.pro/en/404/ -->
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>404</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
    {%if site.particle404 %}
    </div>
    {% endif %}
</header>

<script>
    document.body.classList.add('page-fullscreen');
</script>

{%if site.particle404 %}
<link type="text/css" rel="stylesheet" href="css/404.css">
<script type="text/javascript" src="js/404/independent/modernizr.custom.js"></script>
<script type="text/javascript" src="js/404/404-base.js"></script>
<script type="text/javascript" src="js/404/independent/three.min_r56.js"></script>
<script type="text/javascript" src="js/404/404.js"></script>
{% endif %}
