{% if site.disqus_username %}
<!-- disqus start -->
<div class="comment"><div id="disqus_thread" class="disqus-thread"></div></div>

<script type="text/javascript">
var disqus_config = function () {
    this.page = this.page || {};
    this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";
    this.page.identifier = "{{ page.id }}";
    this.page.title = "{{ page.title }}";
};
//console.log("disqus_config = %c" + disqus_config, 'background: #222; color: #bada55');

(function() {
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{ site.disqus_username }}";

    var d = document, s = d.createElement('script');
    s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- disqus end -->
{% elsif site.widgetpack_id %}
<!-- widgetpack start -->
<div id="wpac-comment" style="padding-top:2em;padding-bottom:3em;"></div>
<script type="text/javascript">
    var widgetpack_id = parseInt("{{ site.widgetpack_id }}", 10);
    wpac_init = window.wpac_init || [];
    wpac_init.push({widget: 'Comment', id: widgetpack_id});
    (function() {
        if ('WIDGETPACK_LOADED' in window) return;
        WIDGETPACK_LOADED = true;
        var mc = document.createElement('script');
        mc.type = 'text/javascript';
        mc.async = true;
        mc.src = 'https://embed.widgetpack.com/widget.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
    })();
</script>
<!-- widgetpack end -->
{% elsif site.utteranc.repo %}
{% comment %}
Please refer https://utteranc.es/ for setup configuration
{% endcomment %}
<script src="https://utteranc.es/client.js"
        repo="{{ site.utteranc.repo }}"
        issue-term="{{ site.utteranc.issue-term }}"
        theme="{{ site.utteranc.theme }}"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
