<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <title>{% if page.title %}{{ page.title | strip_html }} - {{ site.SEOTitle | strip_html }}{% else %}{{ site.SEOTitle | strip_html }}{% endif %}</title>

    <script></script><!-- ga & ba script hoook -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.4/themes/black/pace-theme-minimal.min.css" integrity="sha384-srUNBOxxSczbKnQaPdpJQw0ogffOMbZbMRMB0T6Qgxe3fF2GlfwZPZY/OX9QeR2r" crossorigin="anonymous" referrerpolicy="no-referrer">
    {% include vite-assets.html entry="tc-blog" only="css" %}
    <link rel="stylesheet" href="{{ '/css/iosevka.css' | prepend: site.baseurl }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ '/css/fonts.css' | prepend: site.baseurl }}" media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" href="{{ '/css/iosevka.css' | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ '/css/fonts.css' | prepend: site.baseurl }}">
    </noscript>
    {% if site.data.assets["tc-blog"].js %}
    <link rel="modulepreload" href="{{ site.data.assets['tc-blog'].js | relative_url }}">
    {% endif %}

    {% if site.google-site-verification %}<meta name="google-site-verification" content="{{ site.google-site-verification }}">{% endif %}
    {% capture page_description %}{% if page.description %}{{ page.description }}{% elsif page.subtitle %}{{ page.subtitle }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
    <meta name="description" content="{{ page_description | strip_html | strip | escape }}">
    <meta name="baseurl" content="{{ site.baseurl }}">
    <meta name="theme-color" content="#000000">
    {% include meta.html %}
    <link rel="shortcut icon" href="{{ '/img/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
