body > p {
	text-align: center;
	margin: 1em 2em;
}

table,th,td {
    border: none
}

table {
    display: table;
    max-width: 90%;
    margin: auto;
}

table.bordered>thead>tr,table.bordered>tbody>tr {
    border-bottom: 1px solid #d0d0d0;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table.striped>tbody>tr>td {
    border-radius: 0;
}

table.highlight>tbody>tr {
    transition: background-color .25s ease;
}

table.highlight>tbody>tr:hover {
    background-color: #f2f2f2;
}

table.centered thead tr th,table.centered tbody tr td {
    text-align: center;
}

thead {
    border-bottom: 1px solid #d0d0d0
}

td,th {
    padding: 5px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
