@use "../variables" as *;
@use "../mixins" as *;

footer {
    font-size: 20px;
    padding: 50px 0 65px;
    .list-inline {
        margin: 0;
        padding: 0;
        > li + li {
            margin-left: 10px;
        }
    }
    .copyright {
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
        a {
            color: #337ab7;
            // different to $brand-primary
            &:hover,
            &:focus {
                color: $brand-primary;
            }
        }
    }
}

